body {
  margin: 0;
  scroll-behavior: auto !important;
}

img {
  border: 0 none;
}

input,
select {
  margin: 0;
  color: inherit;
}

select {
  text-transform: none;
}

input[type='submit'] {
  cursor: pointer;
}

input::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

input {
  line-height: normal;
}
.prices {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.prices span {
  font-size: 17px;
}
.old {
  color: black;
  text-decoration: line-through;
  margin-right: 15px;
}
.new {
  color: red;
}
@media print {
  *,
  ::after,
  ::before {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent none repeat scroll 0 0 !important;
    box-shadow: none !important;
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  select {
    background: #fff none repeat scroll 0 0 !important;
  }
}

* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: #fff;
}

input,
select {
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
}

p {
  margin: 0 0 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-group {
  margin-bottom: 15px;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active {
  background-image: none;
}

body,
div,
form,
html,
img,
input,
p,
span {
  margin: 0;
  padding: 0;
  outline: 0 none;
}

:focus {
  outline: 0 none;
}

body {
  line-height: 1;
}

img {
  border: 0 none;
}

html {
  height: 100%;
  width: 100%;
  min-width: 900px;
}

body {
  font-family: sans-serif !important;
  width: 100%;
  color: #000;
  font: 12px/120% sans-serif;
  background: #030516 none repeat scroll 0 0;
  position: relative;
}

p {
  padding: 7px 0 0;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

img {
  max-width: 100%;
}

html {
  min-width: 320px;
}

@media (max-width: 1040px) {
  .wrap {
    width: auto;
  }
}

.submit-roulette {
  display: block;
  color: #fff !important;
  text-decoration: none !important;
  max-width: 200px;
  margin: 0 auto;
}

.form-order {
  max-width: 450px;
  margin: 0 auto;
}

@media screen and (max-width: 449px) {
  .form-order {
    max-width: 300px;
  }
}

body,
body div,
form,
html,
img,
p,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: 0 0;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

input,
select {
  vertical-align: middle;
}

input,
select {
  font: 99% sans-serif;
}

input[type='submit'] {
  cursor: pointer;
}

input,
select {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: #1e1d2b;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.form {
  padding: 30px 0;
}

.btn-primary {
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to top, #129f20 0, #5be368 100%);
  color: #fff;
  font-size: 30px;
  text-align: center;
  display: block;
  width: 90%;
  margin: 15px auto;
  outline: 0 !important;
  letter-spacing: 0.68px;
  padding: 20px 12px !important;
}

.btn-primary:hover {
  background-image: linear-gradient(to top, #129f20 0, #5be368 100%);
}

.btn-primary:active {
  background-image: linear-gradient(to top, #129f20 0, #5be368 100%);
}

@media (max-width: 600px) {
  .btn-primary {
    font-size: 20px;
  }
}

.chat {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  overflow: hidden;
  z-index: 99999;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat.show-chat {
  display: block;
  z-index: 1;
  background: #e3e3e3;
}

.chat-container {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.chat-header {
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  max-height: 75px;
  height: 75px;
  background-image: linear-gradient(to top, #d26713 0, #f0ad62 100%);
}

.chat-header-container.down .chat-header-container-wrapper {
  padding: 11px 16px;
}

.chat-header-container-image {
  display: inline-block;
}

.chat-header-container-image img {
  max-width: 50px;
}

.chat-header-container-image-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .chat-header-container-image-left {
    padding-right: 60px;
  }
}

.chat-content {
  height: 100%;
  padding: 75px 0 25px 0;
  background: #e3e3e3;
}

.chat-content-container {
  padding: 15px 0;
  height: 100%;
  overflow-y: scroll;
}

.form_block {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.chat-content-list {
  position: relative;
  text-align: center;
  line-height: 40px;
}

.chat-content-list .form-group {
  width: 100%;
  text-align: center;
}

.chat-content-list .form-group-inline {
  display: inline-block;
}

.chat-content-buttons-gender {
  z-index: 1;
  width: 100%;
  text-align: center;
  font-size: 0;
}

.chat-content-buttons-gender-block {
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  min-width: 130px;
  border-radius: 2px;
  background: #4267b2;
  color: #fff;
  padding: 0 8px;
  margin: 10px 5px;
}

.chat-content-buttons-gender-block span {
  display: block;
  padding: 20px 0;
  line-height: 20px;
}

.chat-content-item {
  width: 100%;
  padding: 10px 15px;
}

.chat-content-item.user {
  position: relative;
  background-color: #3fc726;
  color: #fff;
  padding: 20px;
  max-width: 60%;
  border-radius: 5px;
  font-size: 22px;
  margin-left: auto;
  margin-right: 1rem;
}

.chat-content-item.user .chat-content-desc-item {
  text-align: right;
}

.chat-content-item.user .chat-content-desc-item p {
  background: 0 0;
  padding: 0 !important;
}

.chat-content-item.user .chat-content-desc-item p:after {
  display: none;
}

.chat-content-item.user:before {
  position: absolute;
  content: '';
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border: 6px solid transparent;
  border-left-color: #3fc726;
}

@media (max-width: 460px) {
  .chat-content-item.user {
    font-size: 16px;
    padding: 10px;
  }
}

.chat-content-item .chat-content-desc {
  position: relative;
}

.chat-content-item .chat-content-desc-item {
  display: block;
  font-weight: 300;
  text-align: left;
  margin: 0 0 0 auto;
  width: 100%;
  padding-left: 60px;
}

.chat-content-item .chat-content-desc-item p {
  position: relative;
  display: inline-block;
  text-align: left;
  background-color: #fff;
  padding: 13px;
  border-radius: 5px;
  font-size: 19px;
}

.chat-content-item .chat-content-desc-item p:after {
  position: absolute;
  content: '';
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border: 8px solid transparent;
  border-right-color: #fff;
}

@media (max-width: 600px) {
  .chat-content-item .chat-content-desc-item p {
    font-size: 18px;
    line-height: 1.2;
    padding: 10px;
  }
  .chat-content-item .chat-content-desc-item {
    padding-left: 10px;
  }
}

.form-group-inline {
  margin-left: 10px;
}

.chat-content-item .chat-content-desc-image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-height: 40px;
  margin-bottom: 6px;
  margin-right: 15px;
}

.chat-foofaster-form input[type='text']:not(:focus) + span.cursor:before {
  display: block;
  animation: cursor 1s infinite step-end;
}

@keyframes cursor {
  50% {
    background: 0 0;
  }
}

.custom-select {
  font-size: 16px;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: url('../images/arrow_down.png') no-repeat right 10px center, #fff;
  background-size: 10px;
  padding: 7px 30px 7px 15px;
  min-height: 34px;
}

.custom-select option {
  font-size: 14px;
  font-weight: 300;
}

.custom-select:focus {
  outline: 0;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

dialog::backdrop {
  background: #000;
  opacity: 0.7;
}

#cont_form {
  max-width: 100%;
  width: 100%;
  background: #f5f5f5;
  padding: 15px;
  left: 0;
  right: 0;
  bottom: -32px;
  display: none;
  position: absolute;
  z-index: 99999999999;
}

.chat-content-container {
  padding-bottom: 270px;
}

.prices_block {
  font-size: 20px;
  margin: 0 auto 15px;
  text-align: center;
}

#page_chat {
  transition: 1s;
}
